.App {
  /* text-align: center; */
  background-color: black;
  position: relative;
}
.main{
  /* background-color: blanchedalmond; */
  /* background-color: rgb(199, 141, 141); */
  background-color: rgb(126, 173, 130);

  width: 100vw;
  height: 100vh;
}
.nav{
  width: 0vw;
  height: 0vh;
  opacity: 0;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(128, 128, 128);
  z-index: 2;
  /* transition: opacity 500ms ease-in-out; */
}
.nav.open{
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: .98;
  transition: opacity 500ms ease-in-out;
}

.nav a {
  text-decoration: none;
  /* color: rgba(0, 0, 0, 0.596); */
  font-weight: 600;
  color: bisque;
  /* text-shadow: 1px 1px 1px black; */
  transition: color 500ms ease-in-out;
}
.nav a:hover{
  cursor: pointer;
  text-transform: uppercase;
  /* color:peru; */
  color:darkslategray;
  transition: color 500ms ease-in-out;
}

.title-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
  background-color: rgb(126, 173, 130);
}

.title{
  position: relative;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10%;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background-color: rgba(244, 165, 96, 0.568);
  /* border: 1px solid black; */
}

.title h1{
  margin: 0;
  color: rgba(255, 255, 255, 0.795);
  font-family: prata-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
}
.title h2{
  margin: 0;
  color: rgba(0, 0, 0, 0.712);
  font-family: prata-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
}

.title .nameTitle{
  border-bottom: 1px solid rgba(0, 0, 0, 0.733);
  padding-bottom: 5%;
}
.title .subTitle{
  margin-top: 5%;
}

.about{
  margin: auto;
  /* margin-top: 7%; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: blanchedalmond;
}
.bio{
  width: 75%;
  padding: 1%;
  line-height: 1.5;
  width: 25%;
  margin-left: 5%;
  border-left: 1px solid black;
  /* font-weight: 600; */
  font-family:sans-serif;
}
.headshot{
  /* width: 45%; */
  width: 30%;
  margin-top: 5%;
}

.headshot img{
  width: 100%;
  border-radius: 50%;
}
.project-page{
  width: 100%;
  height: 100%;
  /* background-color: rgb(126, 173, 130); */
  background-color: rgb(48, 48, 48)
}
.projects{
  /* margin: 5% 15% 0 15%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-caption{
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
  color: rgb(53, 53, 53);
  z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
  color: #000;
	width: 100%;
	height: 100%;
}

.img-thumb .img-caption h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
  background-color: rgba(128, 128, 128, 0.493);
}

.img-thumb:hover .img-caption h2{
	transform: translateY(-35px);
}

.img-thumb .img-caption p{
	/* margin: 30px 30px 0 30px; */
	font-size: 18px;
	font-weight: 300;
	text-align: center;
  background: rgba(169, 169, 169, 0.849);
  background: #fff;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.img-thumb:hover .img-caption p{
	opacity: 1;
	transform: translateY(-40px);
}

.project-links{
	position: absolute;
  /* position: relative; */
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.img-thumb:hover .project-links{
	bottom: 0;
}

.project-links .site-link{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}

.project-links .icon-links{
	color: #000;
	font-size: 20px;
  margin-right: 20px;
}


.img-thumb{
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;

}

.img-thumb img{
  width: 99%;
  height: auto;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  opacity: 1;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.img-thumb:hover img{
	opacity: 1;
}

.contact{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid black;
  background: blanchedalmond;
}
.contact h1{
  margin-bottom: 0%;
}
.contact a{
  color: black;
  margin-bottom: 20px;
}

/* @media screen ()  */

.menu-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  margin-top: 1%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 4;
  /* border: 1px solid #fff; */
}
.menu-btn:hover{
  color: darkslategray;
  transition: color 500ms ease-in-out;
}
.menu-btn__burger {
  width: 50px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}