.App {
  /* text-align: center; */
  background-color: black;
}

.title-page .nav{
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 1%;
  width: 100%;
  background: rgba(0, 0, 0, 0.644);
  z-index: 2;
}

a {
  text-decoration: none;
  color: white;
}

.title-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  background-color: black;
}

.title{
  position: relative;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10%;
  width: 25%;
  height: 52%;
  border-radius: 50%;
  background-color: rgba(244, 165, 96, 0.568);
}

.title h1{
  margin: 0;
  color: white;
}
.title h2{
  color: aliceblue;
  margin: 0;
}

.about-me{
  color: aliceblue;
  height: 100vh;
}
.about-me p,.about-me h2{
  margin: 0%;
}